# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Thumbnails
Thumbs.db
